@import "./styles/shared.scss";

.#{$Dark} {
  background: #4a4a49;
  .labels-menu {
    background-color: #eeebe4
  }

  .card-group {
    background: #4a4a49 url("../assets/form-dark-background.svg") top left no-repeat;
    h1 {
      background: url("../assets/form-title-background.png") no-repeat;
      filter: invert(1);
    }
    .theme-btn {
      background: url("../assets/form-title-background.png") no-repeat;
      filter: invert(1);
    }
    input {
      background: #110e0c90 !important;
      border: white solid 1px !important;
      color: white;
    }
    input::placeholder {
      color: white;
    }
  }
  .navbar{
    background-color: #282d4650;
    color: white !important;
  }
  .navbar-brand,.nav-link{
    color: #FFFFFF !important;
  }
  .todo-section-header-button {
    color: #eeebe4 !important;
    background: transparent !important;
    &:hover, &:focus {
      background: #eeebe4 !important;
      color: #4a4a49 !important;
    }
   }
  .section-btn {
    .section-name {
      color: #eeebe4 !important;
    }
    .section-toggle {
      color: #eeebe4 !important;
      background: transparent !important;
      border-bottom: 2px solid #eeebe4 !important;
      &:hover, &:focus {
        color: #eeebe4 !important;
        background: transparent !important;
        border-bottom: 2px solid #eeebe4 !important;
      }
      svg {
        path {
          fill: #eeebe4 !important;
        }
      }
    }
  }
}
