@import "./styles/shared.scss";

.#{$Dark} {
  background: #4a4a49;
  .labels-menu {
    background-color:#4a4a49;
    border: 1px solid $col-bg-light;
    border-top:0;
    border-bottom: 0;
    color: $col-bg-light !important;
    input{
      background-color: lighten($color: #4a4a49, $amount: 25);
      border: 1px solid $col-bg-light;
      color: $col-bg-light;
    }
  }

  .card-group {
    background: #4a4a49 url("../assets/form-dark-background.svg") top left no-repeat;
    h1 {
      background: url("../assets/form-title-background.png") no-repeat;
      filter: invert(1);
    }
    .theme-btn {
      background: url("../assets/form-title-background.png") no-repeat;
      filter: invert(1);
    }
    input {
      background: #110e0c90 !important;
      border: white solid 1px !important;
      color: white;
    }
    input::placeholder {
      color: white;
    }
  }
  .navbar{
    background-color: #4a4a49;
    color: white !important;
    box-shadow: 0px 0px 20px 0px $col-bg-light;
    .navbar-toggler{
      filter: invert(1);
    }
  }
  .navbar-brand,.nav-link{
    color: #FFFFFF !important;
  }
  .todo-section-header-button {
    color: $col-bg-light !important;
    background: transparent !important;
    &:hover, &:focus {
      background: $col-bg-light !important;
      color: #4a4a49 !important;
    }
   }
  .section-btn {
    .section-name {
      color: $col-bg-light !important;
    }
    .section-toggle {
      color: $col-bg-light !important;
      background: transparent !important;
      border-bottom: 1px solid $col-bg-light !important;
      &:hover, &:focus {
        color: $col-bg-light !important;
        background: transparent !important;
        border-bottom: 1px solid $col-bg-light !important;
      }
      svg {
        path {
          fill: $col-bg-light !important;
        }
      }
    }
  }
  .todos{
    &__todo{
       background: transparent !important;
    box-shadow: 0px 1px 15px -4px $col-bg-light;
    //border: 1px solid $col-bg-light;
    }
    &__todo-title{
      color:$col-bg-light;
    }
    &__todo-timer-logo{
      border:1px solid $col-bg-light;
    }
  }
  .modal-content{
    background-color: lighten($color: #4a4a4a, $amount: 0.1);
    //box-shadow: 0px 1px 15px -4px $col-bg-light;
    border: 1px solid $col-bg-light;
    color: $col-bg-light;
    textarea,input,.react-date-picker__wrapper,.react-time-picker__wrapper,.react-dropdown-select{
      background-color: transparent !important;
    }
    .react-time-picker__inputGroup__input {
      color: $col-bg-light;
    }
    svg.react-date-picker__calendar-button__icon,.react-date-picker__clear-button__icon,.react-time-picker__clear-button__icon,.react-time-picker__clock-button__icon{
      stroke: $col-bg-light;
    }
  }
  .todos__todos-edit{
    svg{
      path{
        fill: $col-bg-light !important;
      };
    }
  }
  .left-nav {
    .card{
      
      button{
        background-color: #4a4a49 !important;
        color: $col-bg-light !important;
         border: 1px solid $col-bg-light;
         margin-bottom: 0.25rem !important;
      }
    }
  }
}