@import "./styles/shared.scss";

.#{$Light} {
  background: $col-bg-light;
  .labels-menu {
    background-color: #4A4A49;
  }

  .card-group {
    background: $col-bg-light url("../assets/form-light-background.svg") top left no-repeat;
    h1 {
      background: url("../assets/form-title-background.png") no-repeat;
      color: black;
    }
    .theme-btn {
      background: url("../assets/form-title-background.png") no-repeat;
      color: black;
    }
    input {
      background: #f3cab190 !important;
      border: black solid 1px !important;
      color: black;
    }
    input::placeholder {
      color: #000000;
    }
  }
  .navbar{
    background-color: $col-bg-light;
    color: #000000 !important;
    box-shadow: 0px 0px 20px 0px #4a4a49;
  }
  .navbar-brand,.nav-link{
    color: #000000 !important;
  }
  .todo-section-header-button {
    color: #4A4A49 !important;
    background: transparent !important;
    &:hover, &:focus {
      background: #4a4a4a !important;
      color: $col-bg-light !important;
    }
  }
  .section-btn {
    .section-name {
      color: #045591 !important;
    }
    .section-toggle {
      color: #045591 !important;
      background: transparent !important;
      border-bottom: 2px solid #045591 !important;
      &:hover, &:focus {
        color: #045591 !important;
        background: transparent !important;
        border-bottom: 2px solid #045591 !important;
      }
      svg {
        path {
          fill: #045591 !important;
        }
      }
    }
  }
  .pomodoro {
    font-family: Helvetica, Arial, sans-serif !important;
    background-color: #4a4a49 !important;
    color: $col-bg-light !important;
  }
}

