@import "./styles/shared.scss";

.#{$Light} {
  background: #eeebe4;
  .labels-menu {
    background-color: #4A4A49;
  }

  .card-group {
    background: #eeebe4 url("../assets/form-light-background.svg") top left no-repeat;
    h1 {
      background: url("../assets/form-title-background.png") no-repeat;
      color: black;
    }
    .theme-btn {
      background: url("../assets/form-title-background.png") no-repeat;
      color: black;
    }
    input {
      background: #f3cab190 !important;
      border: black solid 1px !important;
      color: black;
    }
    input::placeholder {
      color: #000000;
    }
  }
  .navbar{
    background-color: #FFFFFF;
    color: #000000 !important;
  }
  .navbar-brand,.nav-link{
    color: #000000 !important;
  }
  .todo-section-header-button {
    color: #4A4A49 !important;
    background: transparent !important;
    &:hover, &:focus {
      background: #4a4a4a !important;
      color: #eeebe4 !important;
    }
  }
  .section-btn {
    .section-name {
      color: #045591 !important;
    }
    .section-toggle {
      color: #045591 !important;
      background: transparent !important;
      border-bottom: 2px solid #045591 !important;
      &:hover, &:focus {
        color: #045591 !important;
        background: transparent !important;
        border-bottom: 2px solid #045591 !important;
      }
      svg {
        path {
          fill: #045591 !important;
        }
      }
    }
  }
}
