$Light: lightWhite;

$Dark: darkBlack;

.container{
  width:90%;
  max-width: 75rem;
  top: 40px;
  margin:0 auto;
}
.card-group {
  background-size: contain !important;
  background-position: center !important;
  border: transparent !important;
  text-align: center !important;
  width:90%;
  margin: 0 auto;
  max-width: 40rem;   
  padding: 4rem;
  h1 {
    margin: 0px auto 2rem;
    padding: 1rem;
    background-position: center !important;
    background-size: 50% !important;
  }
  input {
    margin:0 auto;
    width: 60% !important;
    &:focus::placeholder {
      transform: translateY(-70px);
    }
  }
  .invalid-feedback {
    font-weight: bold;
  }
  input::placeholder {
    transition: all .4s ease;
    font-weight: 400;
    text-align: center;
  }
  .theme-btn {
    margin: auto !important;
    display: block;
    background-size: cover !important;
    padding: 1rem;
    border: unset !important;
    font-weight: 600;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}

// .col-name {
//   background: url("../assets/timer.png") center no-repeat;
//   background-size: contain;
// }

.main-layout-row {
  height: 100vh;
  margin-top: 3.5rem;
}
 

.form-control{
  width: unset;
}
.card{
  border:0 !important;
  background: transparent;
}

@media only screen and (max-width: 768px) {
  .card-group {
    padding: 0 !important;
    background-size: cover !important;
    font-size: .75rem !important;
    h1{
      font-size: 1rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .theme-btn,input::placeholder{
      font-size: .75rem !important; 
      padding: .75rem;
    }
    input{
      padding:.25rem; 
      width: 80% !important;
    }
    .form-group{
      margin-bottom: 0;
    }
  }
}

.test {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  text-align: left;
  // background-color: rgba(0, 0, 0, 0.03);
  background-color: transparent !important;
  border: none !important;
  margin-top: 2rem;
  font-size: 1.75rem;
  &:hover, &:focus {
    background: none !important;
    border: none !important;
    color: black !important;
    box-shadow: none !important;
  }
}

.todo-section-header {
  margin-top: 1.5rem;
  text-align: center;
}

.modal-dialog{
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%) !important;
  margin:0;
  width:80% !important;
  max-width: 45rem !important;
  .todo-modal-label{
    display: block;
    margin-bottom: 0.5rem;
  }  
  svg{
    //opacity: .5;
  }
  
}
svg .cls-1{fill:#00c569}.cls-2{fill:#111}
svg .cls-b{
  transform-origin: center;
  animation: rotateX 50s infinite ;
}
svg .cls-a{
  transform-origin: center;
  animation: rotateY 50s infinite ;
}
@keyframes rotateX{
  100%{
    transform: rotate(-1250deg);
  }
}
@keyframes rotateY{
  100%{
    transform: rotate(1250deg);
  }
}
.test-svg{
  opacity: .4;
  z-index: 0;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%) !important;
}
.todo-main-section{
  z-index: 10;
}