$Light: lightWhite;

$Dark: darkBlack;

.container{
  width:90%;
  max-width: 75rem;
  top: 40px;
  margin:0 auto;
}
.card-group {
  background-size: contain !important;
  background-position: center !important;
  border: transparent !important;
  text-align: center !important;
  width:90%;
  margin: 0 auto;
  max-width: 40rem;   
  padding: 4rem;
  h1 {
    margin: 0px auto 2rem;
    padding: 1rem;
    background-position: center !important;
    background-size: 50% !important;
  }
  input {
    margin:0 auto;
    width: 60% !important;
    &:focus::placeholder {
      transform: translateY(-70px);
    }
  }
  .invalid-feedback {
    font-weight: bold;
  }
  input::placeholder {
    transition: all .4s ease;
    font-weight: 400;
    text-align: center;
  }
  .theme-btn {
    margin: auto !important;
    display: block;
    background-size: cover !important;
    padding: 1rem;
    border: unset !important;
    font-weight: 600;
    color: black;

    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: 0 !important;
    }
  }
}

// .col-name {
//   background: url("../assets/timer.png") center no-repeat;
//   background-size: contain;
// }

.main-layout-row {
  height: 100vh;
  margin-top: 3.5rem;
}
 

.form-control{
  width: unset;
}
.card{
  border:0 !important;
  background: transparent;
  .card-body {
    border: 2px solid #b23b47 !important;
    max-height: 350px;
    overflow: auto;
  }
}

@media only screen and (max-width: 768px) {
  .card-group {
    padding: 0 !important;
    background-size: cover !important;
    font-size: .75rem !important;
    h1{
      font-size: 1rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .theme-btn,input::placeholder{
      font-size: .75rem !important; 
      padding: .75rem;
    }
    input{
      padding:.25rem; 
      width: 80% !important;
      overflow: hidden;
    }
    .form-group{
      margin-bottom: 0;
    }
  }
}

.section-toggle {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.accordion {
  margin: 10px 40px;
  svg {
    path {
      fill: #eeebe4 !important;
    }
  }
}

.overdue-section-btn {
  .section-toggle {
    background-color: #b23b47 !important;
    &:hover, &:focus {
      color: #eeebe4 !important;
      background-color: #b23b47 !important;
    }
  }
}

.section-btn {
  .card-body {
    border: 0 !important;
    // border-bottom: 2px solid #045591 !important;
  }
}

.section-toggle {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border: none !important;
  margin-top: 2rem;
  font-size: 1.25rem;
  &:hover, &:focus {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}

.todo-section-header {
  margin-top: 1.5rem;
  text-align: center;
}

.modal-dialog {
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%) !important;
  margin:0;
  width:80% !important;
  max-width: 45rem !important;
  .todo-modal-label{
    display: block;
    margin-bottom: 0.5rem;
  }  
  svg{
    //opacity: .5;
  }
}

.pomodoro {
  font-family: Helvetica, Arial, sans-serif !important;
  background-color: #b23b47 !important;
  color: #F6F5F6 !important;
  .app {
    margin: 0 auto;
    padding: 5rem 1.25rem;
    text-align: center;
  }
  .btn {
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 18px;
    display: inline-block;
    min-width: 250px;
    margin-bottom: 28px;
    outline: 0;
    border: 2px solid #F6F5F6;
    color: #F6F5F6;
    font-weight: 300;
    padding: 6px 8px;
    box-shadow: none;
    background: none;
    border-radius: 6px;
    transition: 0.2s all ease-in;
    &:hover {
      background-color: #F6F5F6;
      color: #F36055;
    }
  }
  .timer__description {
    font-size: 1.75rem;
  }
  .timer__time {
    font-size: 1.5rem;
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 8px;
    font-size: 16px;
    text-align: left;
    clear: both;
  }
  
  .input-group__input {
    // float: right;
    padding: 4px 8px;
    margin: 0 0.5rem;
    border-radius: 4px;
    border: 0;
  }
}
