.todos {
    position: relative;
    width: 100%;
    // max-width: 45rem;
    margin: 0 auto;
    padding: 0;
   // border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    &__todo {
      display: flex;
      overflow: hidden;
      align-items: center;
      min-height: 6rem;
      list-style: none;
      position: relative;
      width: 100%;
      padding: 2.5rem 0.75rem;
      background: white;
      margin-bottom: .75rem;
     // background:rgba(255,255,255,.85);
      border-radius: 10px;
      -webkit-box-shadow: 0px 4px 11px 0px rgba(74,74,73,1);
    -moz-box-shadow: 0px 4px 11px 0px rgba(74,74,73,1);
    box-shadow: 0px 2px 5px -1px rgba(74,74,73,1);
    }
    &__todo-body {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
     // cursor: pointer;
      width: 95%;
      margin: 0 0 0 auto;
      padding: 0.25rem;
      border-radius: 5px;
    }
    &__todo-title {
      font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
      color: rgba(0, 0, 0, 0.9);
      margin: 0;
      padding: 0 0 0 0.5rem;
      width: 100%;
      font-size: 1.25rem;
      &:focus {
        outline-color: transparent;
        font-style: italic;
        caret-color: #4a4a49;
      }
    }
    &:hover {
      .todos__todos-edit {
        svg {
          transition: all .5s ease;
          transform: translateX(0px);
        }
      }
    }
    &__todo-check {
      position: absolute;
      left: -100px;
      left:-25px;
      top: 65%;
      transform: translateY(-65%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #b23b47 ;
      transition: all 0.3s ease;
      &.active {
        border-color: rgb(50, 205, 50);
        background: green;
      }
      &.editable-todo {
        left: 10px;
      }
    }
  }
  .todo-completed {
    animation: fade-out 1s forwards;
    .todos__todo-check {
      border-color: rgb(50, 205, 50);
      background: green;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  // ::-webkit-datetime-edit {
  //     font-size: .75rem;
  //   padding: 0.25em;
  // }
  // ::-webkit-datetime-edit-fields-wrapper {
  //   background: transparent;
  // }
  // ::-webkit-datetime-edit-text {
  //   color: black;
  //   padding: 0 0.3em;
  // }
  // ::-webkit-datetime-edit-month-field {
  //   color: black;
  // }
  // ::-webkit-datetime-edit-day-field {
  //   color: black;
  // }
  // ::-webkit-datetime-edit-year-field {
  //   color: black;
  // }
  // ::-webkit-inner-spin-button {
  //   display: none;
  // }
  // ::-webkit-calendar-picker-indicator {
  //   background: transparent;
  // }
