// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import "./styles/dark.scss";
@import "./styles/light.scss";

html body .app.flex-row.align-items-center {
  height: 100vh;
  display: flex;
}

body {
  font-family: "Crimson Text", Georgia, Times, "Times New Roman", serif;
}
